* {
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  position: relative;
}

.absolute-top-center {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
}

.bound-width {
  max-width: 1200px;
}

.header {
  height: 80px;
  z-index: 4;
  left: 0;
}

.main {
  width: 100%;
  position: relative;
}

.main-top {
  position: relative;
  width: 100%;
  height: 700px;
  background: radial-gradient(71.89% 152.21% at 40.1% 50%, #B5E6FF 0%, #59C3FB 100%);
}

.h1-panda {
  z-index: 2;
  height: 700px;
}

.main-top-background-bubbles-back {
  position: absolute;
  z-index: 1;
}

.main-top-background-bubbles-forth {
  position: absolute;
  z-index: 3;
}

.header-buttons {
  width: 560px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-text {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  font-weight: 500;
}

button {
  outline: none;
  cursor: pointer;
  border: 0;
  background-color: transparent;
}

button:active {
  cursor: grabbing;
  transform: scale(0.9);
}

a {
  outline: none;
  cursor: pointer;
  border: 0;
  color: black;
  text-decoration: none;
}

a:active {
  cursor: grabbing;
  transform: scale(0.9);
}

.about {
  -webkit-text-stroke: 0.7px #70CB0E;
}

h1 {
  font-size: 70px;
  color: #000000;
  font-weight: 900;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.panda {
  position: absolute;
  height: 645px;
  left: 486px;
  bottom: 0;
}

.play {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
}

.h1-and-play {
  position: absolute;
  margin-top: 210px;
  display: flex;
  flex-direction: column;
  width: 570px;
  height: 368px;
  justify-content: space-between;
}

.triangle {
  width: 18px;
}

.button-play {
  width: 233px;
  height: 51px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background: #70CB0E;
}

.f1 {
  position: absolute;
  transform: rotate(37.04deg);
  margin-top: 28px;
  margin-left: 1406px;
}

.f2 {
  position: absolute;
  margin-left: 1390px;
  margin-top: 300px;
  transform: rotate(15deg);
}

.f3 {
  position: absolute;
  margin-left: 1450px;
  margin-top: 492px;
}

.f4 {
  position: absolute;
  margin-left: 1055px;
  margin-top: 72px;
  transform: rotate(15deg);
}

.f5 {
  position: absolute;
  transform: rotate(15deg);
  margin-left: 910px;
  margin-top: 104px;
}

.f6 {
  position: absolute;
  transform: rotate(15deg);
  margin-left: 965px;
  margin-top: 196px;
}

.f7 {
  position: absolute;
  margin-left: 795px;
  margin-top: 650px;
}

.b1 {
  position: absolute;
  margin-top: 120px;
  margin-left: 370px;
}

.b2 {
  position: absolute;
  margin-top: 145px;
  margin-left: 350px;
}

.b3 {
  position: absolute;
  margin-top: 170px;
  margin-left: 265px;
}

.b4 {
  position: absolute;
  margin-top: 260px;
  margin-left: 230px;
}

.b5 {
  position: absolute;
  margin-left: 230px;
  margin-top: 410px;
}

.b6 {
  margin-left: 920px;
  position: absolute;
}

.b7 {
  position: absolute;
  margin-top: 577px;
  margin-left: 758px;
}

.b8 {
  position: absolute;
  margin-top: 484px;
  margin-left: 688px;
}

.b9 {
  position: absolute;
  margin-top: 503px;
  margin-left: 776pxs;
}

.b10 {
  position: absolute;
  margin-top: 355px;
  margin-left: 820px;
}

.b11 {
  margin-top: 465px;
  position: absolute;
  margin-left: 835px;
}

.b12 {
  position: absolute;
  margin-top: 408px;
  margin-left: 925px;
}

.b13 {
  position: absolute;
  margin-top: 222px;
  margin-left: 944px;
}

.how-it-works {
  height: 983px;
  position: relative;
  width: 100%;
}

.pets-in-zoo {
  height: 1058px;
  position: relative;
  width: 100%;
}

.pay-and-feed {
  height: 600px;
  position: relative;
  width: 100%;
}

.testimonials {
  height: 797px;
  position: relative;
  width: 100%;
}

footer {
  position: relative;
  width: 100%;
  height: 270px;
  background-color: #DFF5B0;
}

.footer-grass {
  position: absolute;
  width: 1895px;
  bottom: 1px;
}

.buttons-footer {
  margin-top: 80px;
}

.donate-for-volunteers {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  width: 230px;
  height: 50px;
  border-radius: 30px;
  background: #70CB0E;
}